*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-greenscore {
    height: 100vh;
    width: 100vw; 
    background-image: linear-gradient(45deg, cyan, yellow);
    background-attachment: fixed;
    font-size: 100%;
    padding-top: 70px;
    font-family: Arial, sans-serif;
    padding-top: 70px;
    overflow-x: hidden; /* Adicionado para evitar rolagem horizontal */
}

.titulo {
    text-align: center;
    font-family: 'Arial', sans-serif; /* Escolha uma fonte moderna */
    font-size: 2.5rem; /* Tamanho grande para impacto */
    margin-top: 30px; /* Espaçamento superior aumentado */
     margin-bottom: 10px; /* Espaçamento inferior padrão */
    color: #02310c; /* Cor verde escura */
    /* text-transform: uppercase; Texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras para melhor legibilidade */
     font-weight: bold; /*Texto em negrito para destaque */
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); Sombra do texto para destaque */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Certifique-se de que o header fica acima de outros elementos */
    background-color: #ffffff;/* Defina um fundo para o header */
    box-shadow: 0 0 1.25rem 0 #000;
    max-width: 100%; /* Ajustado para não ultrapassar a largura da viewport */
}

header .container-greenscore {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-greenscore {
    width: 100%;
    max-width: 123.6rem;
    margin: 0 auto;
    padding: 0.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 0.3rem;
}

.nav-links li {
    margin-right: 4.2rem;
    list-style: none;
}

.nav-links li a {
    font-size: 0.9rem;
    color:  rgb(0, 0, 0);
    text-decoration: none
}

.nav-links .active a {
    border-bottom: 3px solid #27ae60;
    color: #27ae60; /* Verde suave no hover */
}

.logo {
    width: 70px;
}
.user{
    margin-top: 10%;
    /* height: 3rem; */
}
/* Estilo para o dropdown do usuário */
.user-info {
    position: relative;
}

.user-dropdown {
    display: none;
    position: absolute;
    margin-top: 2.5rem;
    top: 100%; /* Alinha a parte superior do dropdown com a parte inferior do elemento pai */
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 13px 16px rgba(0,0,0,0.3);
    z-index: 1000;
    padding: 1rem;
    border-radius: 5px;
    width: 19rem;
    /* box-shadow: 0 0 0.5rem 0 #000; */
}

.user-info {
    position: relative;
}

.user-dropdown p {
    margin: 5px 0;
    padding: 0.2rem;
}

.user-dropdown a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: black;
}

.user-dropdown a:hover {
    text-decoration: underline;
}

.btn-sair {
    background-color: rgb(192, 54, 54);
    color: rgb(255, 255, 255) !important;
    border: none;
    border-radius: .3rem;
    padding: 0.4rem;
    text-align: center;
    margin-top: auto;
}

.pontos_refresh {
    display: flex;
}

.botao-atualizar {
    background: none;
    border: none;
    margin-top: auto;
    margin-left: 10px;
    margin-bottom: 12px;
}

.pontos_refresh .botao-atualizar:hover {

    background: none;
    border: none;
    color: #27ae60; /* Cor verde no hover */
    cursor: pointer;
    transition: color 0.3s; /* Transição suave */
}


.smaller-card {
    /* Estilos para reduzir o tamanho do card */
    max-height: 90%; /* Ajuste de largura máxima */
}

.smaller-card-body {
    /* Estilos para o corpo do card */
    padding: 20px; /* Ajuste de espaçamento interno */
}

/* Sidebar Styles */
.sidebar {
    height: calc(100% - 80px); /* Altura ajustada para descontar a altura do header */
    width: 0;
    position: fixed;
    z-index: 500; /* Menor que o z-index do header para ficar atrás dele */
    top: 80px; /* Altura do header */
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}
.sidebar a {
    margin-bottom: 2rem;
    text-decoration: none;
    font-size: 1rem;
    color: #33502c;
    display: block;
    transition: color 0.3s, background-color 0.3s; /* Transições suaves */
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.sidebar a:hover {
    border-bottom: 3px solid #27ae60;
    padding-bottom: .2rem;
    background-color: #ecf0f1; /* Fundo claro no hover */
    color: #27ae60; /* Verde suave no hover */
}

.sidebar .active {
    border-bottom: 3px solid #27ae60;
    color: #27ae60; /* Verde suave no hover */
}

.container-sidebar {
    display: flex; /* Adiciona flexbox */
    flex-direction: column; /* Itens em coluna */
    justify-content: flex-start; /* Itens no início da coluna */
    align-items: center;
    padding: 2rem;
    text-align: center;
    height: 100%;
}

.sidebar .pontos_refresh {
    margin: 2rem 0;
    color: #30502c;
}

.sidebar .pontos-usuario {
    color: #30502c;
}

.sidebar .btn-sair {
    margin-top: auto; /* Empurra o botão para o final */
    text-align: center;
    width: 100%;
    background-color: #27ae60;
    color: #ffffff; /* Texto branco */
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.sidebar .btn-sair:hover {
    background-color: #1e8449; /* Tom mais escuro de verde no hover */
}

.sidebar .botao-atualizar {
    background: none;
    border: none;
    color: #30502c;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s; /* Transição suave */
}

.sidebar .botao-atualizar:hover {
    color: #27ae60; /* Cor verde no hover */
}

header .button-mobile {
    display: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotate 1s linear infinite;
}


/* Styles for screens up to 1200px width */
@media (max-width: 1024px) {

    nav {
        width: 100%;
        box-sizing: border-box;
    }

    .logo {
        width: 4rem;
    }

    header .container-greenscore {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links li {
        margin: 0;
    }

    header .button-mobile {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }
     header .nav-links li{
        display: none;
    }
    
    .nav-links {
        justify-content: end !important;
    }

    .pontos_refresh p{
        margin-bottom: 0;
        margin-right: 5px;
    }

    .botao-atualizar {
        margin: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
