*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-greenscore {
    height: 100vh;
    width: 100vw; 
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, cyan, yellow);
    background-attachment: fixed;
    font-size: 100%;
    padding-top: 70px;
}

body {
    height: 100vh;
    width: 100vw; 
    font-family: Arial, sans-serif;
    font-size: 100%;
    padding-top: 70px;
    overflow-x: hidden; /* Adicionado para evitar rolagem horizontal */
}

.titulo {
    text-align: center;
    font-family: 'Arial', sans-serif; /* Escolha uma fonte moderna */
    font-size: 2.5rem; /* Tamanho grande para impacto */
    margin-top: 30px; /* Espaçamento superior aumentado */
     margin-bottom: 10px; /* Espaçamento inferior padrão */
    color: #02310c; /* Cor verde escura */
    /* text-transform: uppercase; Texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras para melhor legibilidade */
     font-weight: bold; /*Texto em negrito para destaque */
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); Sombra do texto para destaque */
}

.container-greenscore {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Certifique-se de que o header fica acima de outros elementos */
    background-color: #ffffff;/* Defina um fundo para o header */
    box-shadow: 0 0 1.25rem 0 #000;
    max-width: 100%; /* Ajustado para não ultrapassar a largura da viewport */
    padding: 5px 5px; /* Ajuste conforme necessário */
    
}

.container-greenscore {
    max-width: 100%; /* Ajuste conforme necessário */
    margin: 0 auto;
    padding: 5px 5px; /* Ajuste conforme necessário */
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 0.3rem;
}

.nav-links li {
    margin-right: 4.2rem;
    list-style: none;
}

.nav-links li a {
    font-size: 0.9rem;
    color:  rgb(0, 0, 0);
    text-decoration: none
}

.nav-links .active a {
    border-bottom: 4px solid #23560a;
    padding-bottom: .3rem
}

.logo {
    width: 15%;
}
.user{
    margin-top: 10%;
    height: 3rem;
}
/* Estilo para o dropdown do usuário */
.user-info {
    position: relative;
}

.user-dropdown {
    display: none;
    position: absolute;
    margin-top: 2.5rem;
    top: 100%; /* Alinha a parte superior do dropdown com a parte inferior do elemento pai */
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 13px 16px rgba(0,0,0,0.3);
    z-index: 1000;
    padding: 1rem;
    border-radius: 5px;
    width: 19rem;
    /* box-shadow: 0 0 0.5rem 0 #000; */
}

.user-info {
    position: relative;
}

.user-dropdown p {
    margin: 5px 0;
    padding: 0.2rem;
}

.user-dropdown a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: black;
}

.user-dropdown a:hover {
    text-decoration: underline;
}

.btn-sair {
    background-color: rgb(192, 54, 54);
    color: rgb(255, 255, 255) !important;
    border: none;
    border-radius: .3rem;
    padding: 0.4rem;
    text-align: center;
    margin-top: auto;
}

.pontos_refresh {
    display: flex;
}

.botao-atualizar {
    border: none;
    margin-top: auto;
    margin-left: 10px;
    margin-bottom: 12px;
}

.smaller-card {
    /* Estilos para reduzir o tamanho do card */
    max-height: 90%; /* Ajuste de largura máxima */
}

.smaller-card-body {
    /* Estilos para o corpo do card */
    padding: 20px; /* Ajuste de espaçamento interno */
}