*, *::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw; 
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, cyan, yellow); 
    font-size: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teste {
    display: flex;
    justify-content:space-around;

}
.texto {
    width: 50%;
    color: #202d30; 
}

.texto h2 {
    font-size: 30px;
    font-weight: 600;
}
.texto h3 {
    font-size: 25px;
    font-weight: normal;

}

.chamada {
    font-size: 30px !important; 
    font-weight: 600 !important;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9) !important;
    padding: 3rem;
    border-radius: .75rem;
    color: white;
    width: 20%;
    gap: .75rem;
}

input {
    padding: 15px;
    border: none;
    border-radius: .3rem;
    outline: none;
    font-size: 15px;
}

.button-login {
    background-color: dodgerblue;
    border: none;
    padding: 1rem;
    width: 100%;
    border-radius: .3rem;
    color: white;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.button-login:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

.button-register {
    display: in;
    background-color: rgb(75, 99, 123);
    border: none;
    padding: 1rem;
    width: auto;
    text-decoration: none;
    border-radius: .3rem;
    color: white;
    font-size: 15px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button-register:hover {
    background-color: rgb(97, 118, 124);
    cursor: pointer;
}