*, *::before, *::after {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

header {
    height: 5rem;
    position: fixed;
    z-index: 2023;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    box-shadow: 0 0 20px 0 #000;
    margin-bottom: 10px;
}

header .nav-links {
    display: flex;
    align-items: center;
    justify-content: center
}

header .nav-links li {
    margin-right: 4.2rem;
    list-style: none;
}

header .nav-links li a {
    font-size: 0.9rem;
    color:  rgb(0, 0, 0)
}  

.nav-links li a {
    text-decoration: none
}

header .nav-links li:last-child {
    margin-right: 0
  }

.nav-links .active a {
    border-bottom: 4px solid #23560a;
    padding-bottom: .3rem
}
  
.logo {
    width: 20%;
}

.btn-sair {
    background-color: rgb(100, 55, 55);
    color: rgb(255, 255, 255) !important;
    border: none;
    border-radius: .3rem;
    padding: 0.4rem; 
}
  